<!DOCTYPE html>
<html lang="en" dir="">

<!-- Mirrored from htmlstream.com/preview/space-v2.3.1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jul 2023 09:19:48 GMT -->
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title --><title>
    {% block title %}
        Corporate | Space - Multipurpose Responsive Template 
    {% endblock %}</title>
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <script defer src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{{asset('assets/css/vendor.min.css')}} ">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
</head>
<body>
  <!-- CSS Space Template -->
  <link rel="stylesheet" href="{{asset('assets/css/theme.minc619.css?v=1.0')}}">

  <!-- CSS Space Template -->
  <link rel="stylesheet" href="{{asset('build/app.css')}}">
</head>

<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    {% include "__fragments/nav.html.twig" %}
    <!-- Hero -->
    <div class="bg-soft-warning">
      <div class="container content-space-t-0 content-space-t-md-3 content-space-b-2 content-space-b-md-2">
        <div class="row mb-0">
            {% block body %}
            {% endblock %}
            {# <!-- SVG Elements -->
                <div class="position-absolute top-0 end-0">
                    <img src="{{asset('assets/svg/components/shape-3.svg')}} " alt="SVG" width="350">
                </div>
                <div class="position-absolute bottom-0 end-0 me-10">
                    <img src="{{asset('assets/svg/components/shape-1.svg')}}" alt="SVG" width="200">
                </div>
                <!-- End SVG Elements -->
        </div> #}
    </div>
   </main>
  <!-- JS Implementing Plugins -->
  <script src="{{asset('assets/js/vendor.min.js')}}"></script>

  <!-- JS Space -->
  <script src="{{asset('assets/js/theme.min.js')}}"></script>

   <!-- JS Space -->
  <script defer src="{{asset('build/app.js')}}"></script>
  <!-- JS Plugins Init. -->
  <script>
      (function() {
        // INITIALIZATION OF MEGA MENU
        // =======================================================
        const megaMenu = new HSMegaMenu('.js-mega-menu', {
          desktop: {
            position: 'left'
          }
        })


        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation('.js-animation-link')


        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init('.js-validate', {
          onSubmit: data => {
            data.event.preventDefault()
            alert('Submited')
          }
        })


        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo('.js-go-to')


        // INITIALIZATION OF NAV SCROLLER
        // =======================================================
        new HsNavScroller('.js-nav-scroller')


        // INITIALIZATION OF TEXT ANIMATION (TYPING)
        // =======================================================
        const typed = HSCore.components.HSTyped.init('.js-typedjs')
      })()
    </script>
    <!-- JS Plugins Init. -->
    <script>
      (function() {
        // INITIALIZATION OF TEXT ANIMATION (TYPING)
        // =======================================================
        const typed = HSCore.components.HSTyped.init('.js-typedjs')
      })()
    </script>

    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings', 
        strings: [
                    'jpg.',
                    'jpeg.',
                    'png.'
                ],
                smartBackspace: true,
                typeSpeed: 40,
                backSpeed: 70,
                backDelay: 1700,
                startDelay: 500,
                loop: true,
                showCursor: true,
                cursorChar: '|',
      });
    </script>
    {% block javascripts %}
    {% endblock %}

{{ encore_entry_script_tags('app') }}
 <!-- JS Implementing Plugins -->
<!-- bundlejs:vendor [..] -->
<script src="{{asset('assets/vendor/hs-toggle-password/dist/js/hs-toggle-password.js')}} "></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js')}} "></script>

<!-- JS Plugins Init. -->
<script>
  (function() {
    // INITIALIZATION OF TOGGLE PASSWORD
    // =======================================================
    new HSTogglePassword('.js-toggle-password')
  })()
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
<script> 
  $(document).ready( function () {
      $('#myTable').DataTable();
  } );
</script>
<script>
        $(".flatpickr").flatpickr(
            {
                enableTime: true,
                dateFormat: "d/m/Y H:i",
                time_24hr: true,
                 
            }
        );
    </script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
</body>

<!-- Mirrored from htmlstream.com/preview/space-v2.3.1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Jul 2023 09:19:48 GMT -->
</html>